<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <link rel="stylesheet" href="../../dist/css/search/search.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1741073_ws108pciso.css">
    <script src="../../dist/js/jquery.js" ></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
<!--头部开始-->
    <header class="header" >
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/"> 程序人生</a> </li>
             <li class=""><a href="/">人工智能</a></li>
             <li class=""><a href="/">php</a></li>
             <li class=""><a href="/">python</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-personalcenter iconfont"></i>
            <a href="/">注册</a> /
            <a href="/">登录</a>
        </div>
    </div>
</header>
<!--头部结束-->


<!--主体开始-->
    <div class="main">
        <div class="wrapper">
            <div class="search-wrapper">
                <div class="search-area">
                    <input type="text" placeholder="可输入新闻关键词、作者名字搜索">
                    <div class="button">搜索</div>
                </div>
                <div class="result-list hide">
                    <h2>搜索结果（<span></span>）</h2>
                    <ul class="news-list"></ul>
                </div>
                <div class="list-ou-group">
                    <h3>热门推荐</h3>
                     <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1586569646_422.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">早报：罗永浩二次直播观众跌八成；“华为汽车”有望今年落地；吉</a></p>
                                <p class="desc">卖空者称特斯拉今年仍将亏损，</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                    <span class="author">伟哥</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="sidebar-wrapper">
                <!--广告  -->
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="#" class="more">更多</a>
                </div>
                  <div class="advertise">
                     <a href="#"><img src="https://static-fancube.xfz.cn/1583748706293/750x400.png-website.active.list" alt=""></a>
                 </div>
                <!--关注我们  -->
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注我们</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="zhihu"><a href="# " target="_blank"> 关注我们</a></li>
                            <li class="weibo"><a href="# " target="_blank"> 关注我们</a></li>
                            <li class="toutiao"><a href="# " target="_blank"> 关注我们</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">关注公众号</p>
                        </div>
                    </div>
                </div>
                <!--热门推荐  -->
                <div class="hot-new-group">
                    <div class="title-group">
                        <span class="title">
                            热门推荐
                        </span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="#">inDeco领筑智造完成2000万美元C轮融资</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="#">inDeco领筑智造完成2000万美元C轮融资</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="#">inDeco领筑智造完成2000万美元C轮融资</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="#">inDeco领筑智造完成2000万美元C轮融资</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="#">inDeco领筑智造完成2000万美元C轮融资</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--热门话题  -->
                <div class="hot-tags-content">
                    <div class="title-group">
                        <span class="title">
                            热门话题
                        </span>
                    </div>
                    <a href="#"> <span>华为华为华为</span></a>
                    <a href="#"> <span>华为华为</span></a>
                    <a href="#"> <span>华为</span></a>
                    <a href="#"> <span>华为</span></a>
                    <a href="#"> <span>华为华为</span></a>
                    <a href="#"> <span>华为</span></a>
                    <a href="#"> <span>华为</span></a>
                </div>
            </div>
        </div>
    </div>
<!--主体结束-->

<!--footer-->
<footer class="footer">
    <!-- 合作伙伴 -->
    <div class="partner-group">
        <div class="partner-title">
            <p class="title">合作伙伴</p>
        </div>
        <ul class="partner-list">
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
        </ul>
    </div>
     <!-- LOGO和分类 -->
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">课堂</a></li>
                        <li><a href="#">投稿</a></li>
                        <li><a href="#">礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">联系我们:</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <span class="text">x0000</span>
                                <div class="wx-qrcode"></div>
                            </li>
                            <li class="weibo"> <a href="#" class="text">111111</a></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">湖南省长沙市岳麓区</p>
                    <p class="contact">联系方式:13007310379</p>
                </div>
            </div>
        </div>
    </div>
     <!-- 公司和备案 -->
    <div class="bottom-group">©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574</div>
</footer>
<!--footer-->
</body>
</html>