@import "../common/header";
@import "../common/footer";
@import "../common/body";
@import "../common/constants";


.main{
  .wrapper{
    .main-content-wrapper{
       background: #fff;
      .venture-banner{
         float: left;
          margin-top: 0px;
          margin-right: 20px;
          padding-bottom: 0px;
          min-width: 798px;

          //min-height: 1070px;
          font-size: 0;
      }
      .venture-book{
        width: 798px;
        background: red;
        .venture-list{
          li{
            float: left;
            height: 150px;
            width: 370px;

            border: 1px solid #ccc;
            margin-top: 15px;
            cursor: pointer;
            margin-left: 16px;
            position: relative;
            &:hover{
              box-shadow: 2px 2px 2px #ccc;
            }
            .venture-img{
              background: url("https://www.xfz.cn/static/build/images/web-bp-pc.png") center center no-repeat;
            }
            .venture-img-bp{
              display: inline-block;
              float: left;
              width: 100px;
              height: 150px;
              margin-right: 14px;
            }
            .venture-introduct{
              padding: 20px;
              .venture-title{
                display: inline-block;
                white-space: nowrap;
                width: 200px;
                overflow: hidden;
                font-size: 18px;
                color: #212121;
              }
              .venture-word{
                margin-top: 12px;
                color: #878787;
                width: 236px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                font-size: 13px;
              }
              .venture-price{
                position: absolute;
                right: 10px;
                bottom: 15px;
                color: #f73e3e;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}