<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程首页</title>
    <link rel="stylesheet" href="../../dist/css/course/course_detail.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1741073_ws108pciso.css">
    <script src="../../dist/js/jquery.js" ></script>

</head>
<body>
<!--头部开始-->
    <header class="header" >
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/"> 程序人生</a> </li>
             <li class=""><a href="/">人工智能</a></li>
             <li class=""><a href="/">php</a></li>
             <li class=""><a href="/">python</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-personalcenter iconfont"></i>
            <a href="/">注册</a> /
            <a href="/">登录</a>
        </div>
    </div>
</header>
<!--头部结束-->
<!--主体开始-->
    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li class="active"><a href="#">python</a></li>
                    <li class="active"><a href="#">实战教程</a></li>
                    <li class="active"><a href="#">全套课程</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="course-wrapper">
                <div class="course-info">
                    <p class="course-title">课程标题</p>
                    <div class="price-group">
                        <div class="share-group">
                            <span class="title">分享至:</span>
                             <a  class="weixin share-tiem"></a>
                             <a href="#" class="weibo share-tiem"></a>
                        </div>
                        <div class="buy-group">
                           <!-- <span class="price pay">￥19.9元</span>
                            <a href="#" class="buy-btn">立即购买</a>-->
                            <span class="price free">免费</span>
                        </div>
                    </div>
                </div>
                <div class="video-group">

                </div>
            </div>
            <div class="bottom-wrapper">
                <div class="course-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">课程讲师</p>
                        <div class="teacher-group">
                            <div class="avatar-group">
                                <img src="http://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="">
                            </div>
                            <div class="teacher-info">
                                <p class="teacher-name">伟哥</p>
                                <p class="teacher-desc">伟哥介绍</p>
                            </div>
                        </div>
                        <p class="item-content">伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍</p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">课程简介</p>
                        <p class="item-content">伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍</p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">课程大纲</p>
                        <p class="item-content">伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍</p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">适应人群</p>
                        <p class="item-content">适应人群适应人群适应人群适应人群适应人群适应人群适应人群适应人群适应人群适应人群适应人群适应人群适应人群</p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">帮助中心</p>
                        <p class="item-content">帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心帮助中心</p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">关于我们</p>
                        <p class="item-content">伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍伟哥介绍</p>
                    </div>
                </div>
                <div class="recomand-wrapper">
                    <p class="recomand-title">推荐课程</p>
                    <ul class="course-list">
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">伟哥计划书伟哥计划书伟哥计划书伟哥计划书伟哥计划书</p>
                                    <p class="teacher">伟哥</p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt="" class="thumbnail">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">伟哥计划书伟哥计划书伟哥计划书伟哥计划书伟哥计划书</p>
                                    <p class="teacher">伟哥</p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt="" class="thumbnail">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">伟哥计划书伟哥计划书伟哥计划书伟哥计划书伟哥计划书</p>
                                    <p class="teacher">伟哥</p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt="" class="thumbnail">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">伟哥计划书伟哥计划书伟哥计划书伟哥计划书伟哥计划书</p>
                                    <p class="teacher">伟哥</p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1586226296_561.png-website.news.list" alt="" class="thumbnail">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
<!--主体结束-->
<!--footer-->
<footer class="footer">
    <!-- 合作伙伴 -->
    <div class="partner-group">
        <div class="partner-title">
            <p class="title">合作伙伴</p>
        </div>
        <ul class="partner-list">
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
        </ul>
    </div>
     <!-- LOGO和分类 -->
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">课堂</a></li>
                        <li><a href="#">投稿</a></li>
                        <li><a href="#">礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">联系我们:</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <span class="text">x0000</span>
                                <div class="wx-qrcode"></div>
                            </li>
                            <li class="weibo"> <a href="#" class="text">111111</a></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">湖南省长沙市岳麓区</p>
                    <p class="contact">联系方式:13007310379</p>
                </div>
            </div>
        </div>
    </div>
     <!-- 公司和备案 -->
    <div class="bottom-group">©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574</div>
</footer>

<!--footer-->
</body>
</html>s