$pageWidth:1170px;
$mainBoxWidth:798px;
$sidebarWidth:256px;
$themeColor:#5c87d9;
$mainFontColor:#212121;
$assistFonColor:#878787;

$bannerWidth:$mainBoxWidth;
$bannerHeight:202px;

$payColor:#f76363;
$freeColor:#7ed321;