<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程首页</title>
    <link rel="stylesheet" href="../../dist/css/course/course_index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1741073_ws108pciso.css">
    <script src="../../dist/js/jquery.js" ></script>

</head>
<body>
<!--头部开始-->
    <header class="header" >
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/"> 程序人生</a> </li>
             <li class=""><a href="/">人工智能</a></li>
             <li class=""><a href="/">php</a></li>
             <li class=""><a href="/">python</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-personalcenter iconfont"></i>
            <a href="/">注册</a> /
            <a href="/">登录</a>
        </div>
    </div>
</header>
<!--头部结束-->
<!--主体开始-->
    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li class="active"><a href="#">python</a></li>
                    <li class="active"><a href="#">实战教程</a></li>
                    <li class="active"><a href="#">全套课程</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-list">
                <li>
                    <div class="rgbasss">
                        <a href="#">
                             <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1554346383_8.png-seriescourse.list" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">课程名称</p>
                                <p class="author">伟哥</p>
                                <p class="price-group">
                                    <span class="free">免费</span>
                                    <span class="pay">19.9</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="rgbasss">
                        <a href="#">
                             <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1554346383_8.png-seriescourse.list" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">课程名称</p>
                                <p class="author">伟哥</p>
                                <p class="price-group">
                                    <span class="free">免费</span>
                                    <span class="pay">19.9</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                <div class="rgbasss">
                    <a href="#">
                         <div class="thumbnail-group">
                            <img src="https://static-image.xfz.cn/1554346383_8.png-seriescourse.list" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">课程名称</p>
                            <p class="author">伟哥</p>
                            <p class="price-group">
                                <span class="free">免费</span>
                                <span class="pay">19.9</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
                <li>
                <div class="rgbasss">
                    <a href="#">
                         <div class="thumbnail-group">
                            <img src="https://static-image.xfz.cn/1554346383_8.png-seriescourse.list" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">课程名称</p>
                            <p class="author">伟哥</p>
                            <p class="price-group">
                                <span class="free">免费</span>
                                <span class="pay">19.9</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
                <li>
                <div class="rgbasss">
                    <a href="#">
                         <div class="thumbnail-group">
                            <img src="https://static-image.xfz.cn/1554346383_8.png-seriescourse.list" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">课程名称</p>
                            <p class="author">伟哥</p>
                            <p class="price-group">
                                <span class="free">免费</span>
                                <span class="pay">19.9</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
<!--主体结束-->
<!--footer-->
<footer class="footer">
    <!-- 合作伙伴 -->
    <div class="partner-group">
        <div class="partner-title">
            <p class="title">合作伙伴</p>
        </div>
        <ul class="partner-list">
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
            <li><a href="#">百度</a></li>
        </ul>
    </div>
     <!-- LOGO和分类 -->
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">课堂</a></li>
                        <li><a href="#">投稿</a></li>
                        <li><a href="#">礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">联系我们:</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <span class="text">x0000</span>
                                <div class="wx-qrcode"></div>
                            </li>
                            <li class="weibo"> <a href="#" class="text">111111</a></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">湖南省长沙市岳麓区</p>
                    <p class="contact">联系方式:13007310379</p>
                </div>
            </div>
        </div>
    </div>
     <!-- 公司和备案 -->
    <div class="bottom-group">©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574</div>
</footer>

<!--footer-->
</body>
</html>s