@import "../common/init";
@import "../common/constants";
@import "../common/header";
@import "../common/body";
@import "../common/footer";

body{
  background: #f2f2f2;
}

.main{
  width: 100%;
  margin-top:84px;

  .wrapper{
    width: $pageWidth;
    margin: 0 auto;
  //  background: green;
    //height: 1000px;
    overflow: hidden;

    .main-content-wrapper{

    //  height: 500px;
      //background: yellow;

      .banner-group{
        width: 100%;
        height: $bannerHeight;
        background: #ffffff;
        position: relative;
        overflow: hidden;
        z-index: 0;

        .banner-ul{
          overflow: hidden;
          width: $bannerWidth*4;
          position: absolute;
          left: 0;

          li{
            float: left;
            width: $bannerWidth;
            height: $bannerHeight;

            img{
              width: $bannerWidth;
              height: $bannerHeight;
            }
          }

        }

        .arrow{
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 70px;
          color: #fff;
          position: absolute;
          top:50%;
          margin-top: -45px;
          text-align: center;
          cursor: pointer;
        }

        .left-arrow{
         left: 20px;
        }
        .right-arrow{
         right: 20px;
        }

        .page-control-group{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;

          .page-conrol{
            margin: 0 auto;
            overflow: hidden;
            width: 12*4px + 8*2px + 16*3px;
            li{
              width: 12px;
              height: 12px;
              border: 1px solid #fff;
              border-radius: 50%;
              float: left;
              margin: 0 8px;
              box-sizing: border-box;
              cursor: pointer;

              &.active{
                background: #fff;
              }
            }
          }
        }
      }
    }
  }
}





