@import "../common/header";
@import "../common/footer";
@import "../common/body";
@import "../common/constants";


.main{
  .wrapper{
    .main-content-wrapper{
      background: #fff;
      padding: 20px;
     // width: 795px;
      box-sizing: border-box;
      .news-wrapper{


        .title{
          color: $mainFontColor;
          font-size: 24px;
          font-weight: 400;
        }
        .news-info{
          margin-top: 20px;
          overflow: hidden;
          color: $assistFonColor;
          font-size: 14px;
          line-height: 28px;
          height: 28px;
          .info-group{
            float: left;
            .pub-time{
              margin-left: 20px;
            }
            .category{
              margin-left: 20px;
              background: $themeColor;
              color: #fff;
              padding: 2px 5px;
              border-radius: 3px;
            }
          }
          .share-group{
            float: right;
            overflow: hidden;
            span{
              float: left;
            }
            .share-tiem{
              float: left;
              width: 28px;
              height: 28px;
              background-image: url("https://www.xfz.cn/static/build/images/share.png");
              background-size: 232%;
              background-repeat: no-repeat;
            }
            .weixin{

            }
            .weibo{
              background-position: -37px 0;
              margin-left: 10px;
            }
          }
        }

        .article{
          margin-top: 20px;
          img{
            max-width: 100%;
          }
        }
      }
      //评论
      //.comment-wrapper{
      //  border-top:1px solid #878787;
      //  margin-top: 20px;
      //  padding-top: 10px;
      //  .comment-title{
      //    color:$mainFontColor;
      //    font-size: 18px;
      //    font-weight: 400;
      //  }
      //  .comment-textarea{
      //    margin-top: 10px;
      //    width: 100%;
      //    resize: none;
      //  //  height: 60px;
      //    outline: none;
      //    border: 1px solid #ccc;
      //    border-radius: 5px;
      //    font-size: 14px;
      //    padding:6px 10px;
      //    box-sizing: border-box;
      //  }
      //  .nologin-textarea{
      //    overflow: hidden;
      //    height: 40px;
      //    line-height: 28px;
      //  }
      //  .logined-textarea{
      //    height: 80px;
      //  }
      //  .submit-btn-group{
      //    text-align: right;
      //    margin-top: 15px;
      //    .submit-btn{
      //      background: $themeColor;
      //      border: none;
      //      padding: 10px 20px;
      //      color:#fff;
      //      border-radius: 5px;
      //      cursor: pointer;
      //    }
      //  }
      //}
    }
  }
}