@import "init";
@import "constants";

body{
  background: #f2f2f2;
}

.main{
  .wrapper{
    .main-content-wrapper{

      .list-outer-group{
        background: #fff;
        margin-top: 14px;

        .list-tab{
          width: 100%;
          height: 66px;
          overflow: hidden;
          border: 1px solid #eee;
          border-left:  none;
          border-right: none;

          li{
            float: left;
            padding:0 8px;
            //line-height: 66px;
            margin-top: 20px;

            a{
              color:#878787;
            }
            &:first-of-type{
              border-left: 5px solid #5c87d9;
            }
            &.active{
              a{
                color:#212121;
              }
            }
          }
        }

        .list-inner-group{
          li{
            padding: 20px;
            border-bottom: 1px solid #eee;
            overflow: hidden;

            .thumbnail-group{
              float: left;
              height: 162px;
              width: 226px;

              img{
                height: 100%;
                width: 100%;
              }
            }
            .news-group{
              float: right;
              width: 504px;
              height: 162px;
             // background: #212121;
              position: relative;
              .title{

                font-size: 22px;
                a{
                  color:#212121;

                  &:hover{
                    color:$themeColor;
                  }
                }
              }
              .desc{
                color:#878787;
                font-size: 14px;
                margin-top: 10px;
              }
              .more{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                font-size: 14px;
                color: #878787;
                .category{
                  color:$themeColor;
                }
                .pub-time{
                  margin-left: 20px;
                  float: right;
                }
                .author{
                  float: right;
                }
              }
            }
          }
        }

        .load-more-group{
          padding: 20px 0;
          text-align: center;
          .load-more{
            width: 402px;
            height: 40px;
            background: #f7766a;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }


      }
    }
  }
}

.main{
  width: 100%;
  margin-top:84px;
  .wrapper{
    width: $pageWidth;
    margin: 0 auto;
    overflow: hidden;
    .main-content-wrapper{
      $bannerWidth:$mainBoxWidth;
      $bannerHeight:202px;
      width: $mainBoxWidth;
      float: left;
    }
  }
}

.main{
  .wrapper{
    .sidebar-wrapper{
      float: right;
      width: 356px;
      //height: 500px;
      background: #fff;
      .title-group{
        padding: 20px 20px 10px 20px;
        overflow: hidden;
        border-bottom: 2px solid #f7766a;
        color:#f7766a;
        .title{
          float: left;
          font-size: 18px;

        }
        .more{
          float: right;
          font-size: 14px;
          color:$themeColor;

        }
      }
      .advertise{
        a{
          img{
            margin: 10px 0;
            height: 100%;
          }
        }
      }
      .platform-group{
       // background: #fff;
        .focus-group{
          padding: 0 20px;
          overflow: hidden;
         // height: 300px;
          .left-group{
            width: 190px;
            float: left;
            li{
              width: 100%;
              height: 50px;
              line-height: 50px;
              margin-top: 20px;
              background: url("https://www.xfz.cn/static/build/images/side-icon.png");
              background-repeat: no-repeat;
              background-size: 26%;
              overflow: hidden;
              a{
                float: left;
               margin-left: 64px;
                color: #878787;
                font-size: 14px;
              }
            }
            .zhihu{
              background-position: 0 0;
            }
            .weibo{
              background-position: 0 -63px;
            }
            .toutiao{
              background-position: 0 -126px;
            }
          }
          .right-group{
            float: right;
            margin-top: 20px;
            width: 108px;
          //  height: 100px;
            background: url("https://www.xfz.cn/static/build/images/xfz-wechat-share.png");
            background-size: 100%;
            background-repeat: no-repeat;
            .desc{
              margin-top: 118px;
              color: #878787;
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
      //热门推荐
      .hot-new-group{
        .hot-list-group{
          margin-top: 10px;
          li{
            padding: 0 20px 20px;
            overflow: hidden;
            border-bottom: 1px solid #eee;
            .left-group{
              float: left;
              width: 204px;
              height: 72px;
              position: relative;
             // background: red;
              .title{
                font-size: 16px;
                a{
                  color:$mainFontColor;
                  &:hover{
                    color:$themeColor;
                  }
                }
              }
              .more{
                position: absolute;
                left: 0;
                right: 0;

                bottom:0;
                font-size: 12px;
                .category{
                  color: $themeColor;
                  float: left;
                }
                .pub-time{
                  float: right;
                  color: $assistFonColor;
                }
              }
            }
            .right-group{
              float: right;
              width: 102px;
              height: 72px;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      //热门话题
      .hot-tags-content{
        a{
          margin: 10px;
          display: inline-block;
          margin-bottom: 15px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 15px;
          color: #555;
          padding: 4px 8px;
        }
      }

    }
  }
}

